# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod~]

# Project specific stuff
comments.txt
susm*
modules/*

# Makefile
Makefile

# Javascript and CSS files
targets/localwab/css/*/*/*.js
targets/localweb/css/*/*/*.css
