# Hidden cache
.cache/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod~]
*.pz~

# gettext pot files
*.pot

# vi swp files
*.swp

# Anything in try/
try
try/*

# Project specific stuff
comments.txt
susm*
modlib
modlib/*

# Makefile
Makefile

# Javascript and CSS files
suapp/targets/localweb/js/*/*/*.js
suapp/targets/localweb/js/*/*/*.map
suapp/targets/localweb/css/*/*/*.css

# Coverage
.coverage
htmlcov

# Very experimental targets
suapp/targets/*only
suapp/targets/*only/
tests/targets/*only
tests/targets/*only/

# Virtual Environment
.venv
.venv/

# Visual Studio Code
.vscode
.vscode/

# Old stuff
old*
old*/