xmltodict >= 0.10.2     # Tested with version 0.10.2
pyyaml >= 3.12          # Tested with version 3.12
pony >= 0.7             # Tested with version 0.7
## UNDER INVESTIGATION ##
#pymongo                 # MONGO            # Tested with version 3.6.1
#dnspython               #  \-MONGO         # Tested with version 1.15.0 (also for pymongo)
#cerberus >= 1.1         # DATA VALIDATION  # Tested with version 1.1
#npyscreen               # COMMAND LINE
#werkzeug                # WEB SERVER
#pyodide                 # WEB FAT CLIENT
#tortoise-orm            # possible replacement for PonyORM
#aiosqlite               # sqlite driver for tortoise-orm
#eel                     # Python library for making electron apps.
#python-electron         # Python library for making electron apps.
## FOR TESTING ##
#pytest >= 3.0.6         # FOR TESTING
#pytest-cov >= 2.5.1     # FOR TESTING
#pytest-annotate >=1.0.1 # FOR TESTING
#pytest-monkeytype       # FOR TESTING
#black                   # FOR TESTING once we're on 3.6
